$pink: #d179a3;
$black-background: #4b4b4b;
$bottom-space: 80px;
$link-hover: #A2698D;

body {
	font-family: 'Raleway', sans-serif;
}

.name-row div {
	display: inline-block;
	h1 {
		font-size: 83px;
		display: inline-block;
		font-weight: 300;
	}
	li {
		list-style-type: none;
		text-align: left;
	}
	ul {
		padding-left: 10px;
	}
	a {
		color: black;
		&:hover {
			color: $link-hover;
		}
	}
}

.name-ul {
	vertical-align: super;
}

.name-last-name {
	color: $pink !important;
}

.name-row {
	text-align: center;
	padding: 10% 0;
}

.jumbotron {
	height: 700px;
	margin-bottom: 0;
	background-color: white;
}

.bio-header {
	height: 400px;
	background-color: $black-background;
	h1 {
		font-size: 70px;
		text-align: center;
		padding: 8% 0;
		color: $pink;
		letter-spacing: 50px;
	}
}

.bio-pics {
	padding-top: 60px;
	text-align: center;
	img {
		padding-left: 25px;
		padding-bottom: $bottom-space;
	}
}

.bio-text {
	padding-bottom: $bottom-space;
}

.work-header {
	height: 400px;
	background-color: $black-background;
	h1 {
		font-size: 70px;
		text-align: center;
		padding: 7% 0;
		color: $pink;
		letter-spacing: 50px;
	}
}

.work-content {
	text-align: center;
	padding-bottom: $bottom-space;
	img {
		padding-left: 25px;
		padding-bottom: 20px;
		padding-top: 60px;
		text-align: center;
	}
}

.public-engagement-header {
	height: 400px;
	background-color: $black-background;
	h1 {
		font-size: 70px;
		text-align: center;
		padding: 7% 0;
		color: $pink;
		letter-spacing: 50px;
	}
}

.public-engagement-content {
	padding-bottom: $bottom-space;
	h3 {
		color: black;
	}
	table {
		margin-top: 3em;
		td,th {
			padding: 1em;
		}
	}
}

.contact-header {
	height: 400px;
	background-color: $black-background;
	text-align: center;
	h1 {
		font-size: 70px;
		text-align: center;
		padding: 7% 0;
		color: $pink;
		letter-spacing: 50px;
	}
}

.contact-content {
	padding-bottom: $bottom-space;
	padding-top: 40px;
	a {
		color: black;
		
		&:hover {
			color: $link-hover;
		}
	}

	.email-address-div {
		text-align: center;
	}

	.social-media-div {
		margin-top: 3em;
		a {
			display: inline-block;
			width: 33%;
			h3 {
				display: inline-block;
				margin-left: .5em;
			}
			i {
				color: $pink;
			}
		}
	}

}